package actions

import (
	"net/http"

	"github.com/herb-go/herb/ui/validator/formdata"
	"github.com/herb-go/herb/ui/render"
	"github.com/herb-go/util"

	"modules/{{.Name.LowerWithParentPath}}"
	"modules/{{.Name.LowerWithParentPath}}/{{.FormID.Lower}}/forms"
	"github.com/herb-go/herb/middleware/action"

)

//ActionLogin action that verify login form in json format.
var ActionLogin = action.New(func(w http.ResponseWriter, r *http.Request) {
	form := forms.New{{.FormID.Pascal}}Form()
	if formdata.MustValidateJSONRequest(r, form) {
		util.Must({{.Name.Lower}}.Member.Login(w, r, form.UID()))
		render.MustJSON(w, form.Username, 200)
		return
	} 
	formdata.MustRenderErrorsJSON(w, form)
})
