package hired

import (
	//"github.com/herb-go/member"
	"github.com/herb-go/member/drivers/membercache"
	"github.com/herb-go/member/drivers/uidaccount"
	"github.com/herb-go/member-drivers/tomluser"
	"github.com/herb-go/member-drivers/ldapuser"
	"github.com/herb-go/member-drivers/sqluser"
)

//WORKER(MemberCache):Member cache directive

//MemberCache member directive factroy  from "github.com/herb-go/member/drivers/membercache"
var MemberCache = membercache.DirectiveFactory

//WORKER(SQLUser):Member sql user directive

//SQLUser member directive factroy  from "github.com/herb-go/member-drivers/sqluser"
var SQLUser = sqluser.DirectiveFactory

//WORKER(TOMlUser):Member ldap user directive

//TOMlUser member directive factroy  from "github.com/herb-go/member-drivers/tomluser"
var TOMlUser = tomluser.DirectiveFactory

//WORKER(LdapUser):Member ldap user directive

//LdapUser member directive factroy  from "github.com/herb-go/member-drivers/ldapuser"
var LdapUser = ldapuser.DirectiveFactory

//WORKER(UIDAccount):Member uid as account  directive

//UIDAccount  directive factroy  from "github.com/herb-go/member/drivers/uidaccount"
var UIDAccount = uidaccount.DirectiveFactory

////MyMemberDirectiveFactory put your own directive factory code here
// var MyMemberDirectiveFactory = func(loader func(v interface{}) error) (member.Directive, error) {
// 	d := NewMyMemberDirective()
// 	err := loader(d)
// 	if err != nil {
// 		return nil, err
// 	}
// 	return d, nil
// }
