package hired

import (
	"github.com/herb-go/member/drivers/membercache"
	"github.com/herb-go/member/drivers/uidaccount"
	"github.com/herb-go/providers/herb/statictoml/tomluser"
	"github.com/herb-go/providers/ldapconn/ldapuser"
	"github.com/herb-go/providers/sql/sqluser"
)

//MemberCache member directive factroy  from "github.com/herb-go/member/drivers/membercache"
var MemberCache = membercache.DirectiveFactory

//SQLUser member directive factroy  from "github.com/herb-go/providers/sql/sqluser"
var SQLUser = sqluser.DirectiveFactory

//TOMlUser member directive factroy  from "github.com/herb-go/providers/herb/statictoml/tomluser"
var TOMlUser = tomluser.DirectiveFactory

//LdapUser member directive factroy  from "github.com/herb-go/providers/ldapconn/ldapuser"
var LdapUser = ldapuser.DirectiveFactory

//UIDAccount  directive factroy  from "github.com/herb-go/member/drivers/uidaccount"
var UIDAccount = uidaccount.DirectiveFactory
