package actions

//Actions for database table {{.Name.Raw}} {{.ID.Raw}}.
//You can  bind actions to  router by using below code :
//import {{.Name.Lower}}actions "modules/{{.Module}}/{{.ID.Lower}}/actions"
//
{{ if .Confirmed.CreateViewModel }}
{{- if .Confirmed.WithList -}}
//	Router.GET("/{{.Name.Lower}}list").
//		HandleFunc({{.Name.Lower}}actions.ActionList{{.Name.Pascal}})
{{- end }}
{{- end }}
{{- if .Confirmed.CreateViewModel }}
{{- if .Columns.IsSinglePrimayKey }}
{{- if .Confirmed.WithRead }}
//	Router.GET("/{{.Name.Lower}}view/:id").
//		HandleFunc({{.Name.Lower}}actions.ActionGet{{.Name.Pascal}})
{{- end }}
{{- end }}
{{- end }}
{{- if .Confirmed.CreateForm }}
{{- if .Confirmed.WithCreate }}
//	Router.POST("/{{.Name.Lower}}create").
//		HandleFunc({{.Name.Lower}}actions.ActionCreate{{.Name.Pascal}})
{{- end }}
{{- end }}
{{- if .Confirmed.CreateForm }}
{{- if .Columns.IsSinglePrimayKey }}
{{- if .Confirmed.WithUpdate }}
//	Router.POST("/{{.Name.Lower}}update/:id").
//		HandleFunc({{.Name.Lower}}actions.ActionUpdate{{.Name.Pascal}})
{{- end }}
{{- end }}
{{- end }}
{{- if .Columns.IsSinglePrimayKey }}
{{- if .Confirmed.WithDelete }}
//	Router.POST("/{{.Name.Lower}}delete/:id").
//		HandleFunc({{.Name.Lower}}actions.ActionDelete{{.Name.Pascal}})
{{- end }}
{{- end }}

import (
	"net/http"
{{- if .Confirmed.CreateForm }}
    "modules/{{.Module}}/{{.ID.Lower}}/forms"
{{- end }}
    "modules/{{.Module}}/models"
    "modules/{{.Module}}/{{.ID.Lower}}/viewmodels"
    {{- if or (and  ( .Confirmed.WithCreate) ) ( and ( .Columns.IsSinglePrimayKey ) ( .Confirmed.WithUpdate)) }}
    {{- if  .Confirmed.CreateForm }}
	"github.com/herb-go/herb/ui/validator/formdata"
    {{- end }}
    {{- end }}
	"github.com/herb-go/herb/ui/render"
)
{{ if .Confirmed.CreateForm -}}
{{ if .Confirmed.WithCreate -}}
//ActionCreate{{.Name.Pascal}} action which create {{.Name.Raw}} model with Create{{.Name.Pascal}}Form.
func ActionCreate{{.Name.Pascal}}(w http.ResponseWriter, r *http.Request) {
	form := forms.NewCreate{{.Name.Pascal}}Form()
	if formdata.MustValidateJSONRequest(r, form) {
		model ,err:= form.Model()
        if err!=nil{
            panic(err)
        }        
		_ , err=models.{{.Name.Pascal}}.InsertModel(model).Exec()
        if err!=nil{
            panic(err)
        }
		render.MustJSON(w, viewmodels.MustConvert{{.Name.Pascal}}ViewModel(model), 200)
	} else {
		formdata.MustRenderErrorsJSON(w, form)
	}
}
{{- end }}
{{- end -}}

{{ if .Confirmed.CreateViewModel -}}
{{ if .Columns.IsSinglePrimayKey -}}
{{ if .Confirmed.WithRead }}

//ActionGet{{.Name.Pascal}} action which get {{.Name.Raw}} model by primary key in url.
func ActionGet{{.Name.Pascal}}(w http.ResponseWriter, r *http.Request){
    pk:=forms.MustGet{{.Name.Pascal}}PrimaryKeyFromRequest(r)
    {{ if or (eq .Columns.FirstPrimayKey.ColumnType "int")  (eq .Columns.FirstPrimayKey.ColumnType "int64") -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==0{        
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    } 
    {{- else -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==""{        
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    }     
    {{- end }}
    model, err := models.{{.Name.Pascal}}.FindByPrimaryKey(pk)
	if err!=nil{
        panic(err)
    }
	if model == nil {
		http.Error(w, http.StatusText(404), 404)
		return
	}
	render.MustJSON(w, viewmodels.MustConvert{{.Name.Pascal}}ViewModel(model), 200)
}
{{- end -}}
{{- end }}
{{- end }}

{{ if .Confirmed.CreateForm -}}
{{ if .Columns.IsSinglePrimayKey -}}
{{ if .Confirmed.WithUpdate -}}

//ActionUpdate{{.Name.Pascal}} action which update  {{.Name.Raw}} model by primary key in url and  FormUpdate{{.Name.Pascal}}.
func ActionUpdate{{.Name.Pascal}}(w http.ResponseWriter, r *http.Request) {
    pk:=forms.MustGet{{.Name.Pascal}}PrimaryKeyFromRequest(r)
    {{if or (eq .Columns.FirstPrimayKey.ColumnType "int") (eq .Columns.FirstPrimayKey.ColumnType "int64") -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==0{        
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    } 
    {{- else -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==""{        
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    }     
    {{- end }}
    model, err := models.{{.Name.Pascal}}.FindByPrimaryKey(pk)
	if err!=nil{
        panic(err)
    }
    if model == nil {
		http.Error(w, http.StatusText(404), 404)
        return
	}
	form := forms.NewUpdate{{.Name.Pascal}}Form()
    form.SetModel(model)
	if formdata.MustValidateJSONRequest(r, form) {
		 err := form.Apply(model)
         if err!=nil{
             panic(err)
         }
		_ , err = models.{{.Name.Pascal}}.UpdateModel(model).Exec()
        if err!=nil{
            panic(err)
        }
		render.MustJSON(w, viewmodels.MustConvert{{.Name.Pascal}}ViewModel(model), 200)
	} else {
		formdata.MustRenderErrorsJSON(w, form)
	}
}
{{- end -}}
{{- end -}}
{{- end }}

{{ if .Columns.IsSinglePrimayKey -}}
{{ if .Confirmed.WithDelete -}}

//ActionDelete{{.Name.Pascal}} action which delete {{.Name.Raw}} model by primary key in url.
func ActionDelete{{.Name.Pascal}}(w http.ResponseWriter, r *http.Request) {
    var err error
   pk:=forms.MustGet{{.Name.Pascal}}PrimaryKeyFromRequest(r)
    {{if or (eq .Columns.FirstPrimayKey.ColumnType "int") (eq .Columns.FirstPrimayKey.ColumnType "int64") -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==0{        
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    } 
    {{- else -}}
    {{ if not .Columns.FirstPrimayKey.NotNull -}}
    if pk==nil{
        {{else -}}
    if pk==""{
        {{end -}}
        http.Error(w,http.StatusText(404),404)
        return
    }     
    {{- end}}
	model, err := models.{{.Name.Pascal}}.FindByPrimaryKey(pk)
	if err != nil {
		panic(err)
	}
	if model == nil {
		http.Error(w, http.StatusText(404), 404)
        return
	}
	_, err = models.{{.Name.Pascal}}.DeleteModel(model).Exec()
    if err!=nil{
        panic(err)
    }
   	render.MustJSON(w, "ok", 200)
}
{{- end }}
{{- end }}

{{ if .Confirmed.CreateViewModel -}}
{{ if .Confirmed.WithList -}}
//ActionList{{.Name.Pascal}} action which list {{.Name.Raw}} models by request params.
func ActionList{{.Name.Pascal}}(w http.ResponseWriter, r *http.Request) {
       	render.MustJSON(w, mustList{{.Name.Pascal}}Models(r), 200)
}

func mustList{{.Name.Pascal}}Models(r *http.Request) map[string]interface{}{
    p:=forms.MustGet{{.Name.Pascal}}ParamsFromRequest(r)
    modelsSelect:=models.{{.Name.Pascal}}.SelectModel()
    p.ApplyToModelsSelect(modelsSelect)
    modellist,err:=models.{{.Name.Pascal}}.FindAll(modelsSelect)
    if err!=nil{
        panic(err)
    }
    countSelect:=models.{{.Name.Pascal}}.SelectCount()
    p.ApplyToCountSelect(countSelect)
    result,err:=models.{{.Name.Pascal}}.FindCount(countSelect)
    if err!=nil{
        panic(err)
    }
    return map[string]interface{}{
        "Items":viewmodels.MustConvert{{.Name.Pascal}}ViewModelList(modellist),
        "Count":result,
    }
}

{{- end }}
{{- end -}}

