package models

{{- $Name := .Name}}

//Default{{.Name.Pascal}}FieldsSelect default select fields for {{.Name.Raw}} model.
var Default{{.Name.Pascal}}FieldsSelect=[]string{
	{{- range .Columns.Columns}}
	//Field  "{{$Name.Raw }}.{{.Field}}"
	{{$Name.Pascal}}Field{{.Name}},
	{{- end}}
}


//Default{{.Name.Pascal}}FieldsInsert default insert fields for {{.Name.Raw}} model.
var Default{{.Name.Pascal}}FieldsInsert=[]string{
	{{- range .Columns.Columns}}
	{{- if .AutoValue}}
	//Skip field "{{.Field}}" which should be set by database
	//Field  "{{$Name.Raw }}.{{.Field}}"
	//{{$Name.Pascal}}Field{{.Name}},
	{{- else }}
	//Field  "{{$Name.Raw }}.{{.Field}}"
	{{$Name.Pascal}}Field{{.Name}},
	{{- end }}
	{{- end}}
}



//Default{{.Name.Pascal}}FieldsUpdate default update fields for {{.Name.Raw}} model.
var Default{{.Name.Pascal}}FieldsUpdate=[]string{
	{{- range .Columns.Columns}}
	{{- if .AutoValue}}
	//Skip field "{{.Field}}" which should be set by database
	//Field  "{{$Name.Raw }}.{{.Field}}"
	//{{$Name.Pascal}}Field{{.Name}},
	{{- else }}
	//Field  "{{$Name.Raw }}.{{.Field}}"
	{{$Name.Pascal}}Field{{.Name}},
	{{- end }}
	{{- end}}
}

