package models

import 	"database/sql"
import	"github.com/herb-go/herb/model/sql/querybuilder"

//{{.Name.Pascal}}Model :{{.Name.Raw }} model 
type {{.Name.Pascal}}Model struct{
    {{.Name.Pascal}}ModelFields
}

//BeforeInsert event called before mapper insert.
//You should call this event before your own insert query.
 func (m *{{.Name.Pascal}}Model) BeforeInsert() error {
 	return nil
 }

//AfterInsert event called after mapper insert.
//You should call this event before your own insert query.
 func (m *{{.Name.Pascal}}Model) AfterInsert() error {
 	return nil
 }

//BeforeUpdate event called before mapper update.
//You should call this event before your own update query.
 func (m *{{.Name.Pascal}}Model) BeforeUpdate() error {
 	return nil
 }

//AfterUpdate event called after mapper update.
//You should call this event after your own update query.
 func (m *{{.Name.Pascal}}Model) AfterUpdate() error {
 	return nil
 }

//AfterFind event called after mapper find.
//You should call this event after your own find query.
 func (m *{{.Name.Pascal}}Model) AfterFind() error {
 	return nil
 }

//AfterDelete event called after mapper delete.
//You should call this event after your own delete query.
 func (m *{{.Name.Pascal}}Model) AfterDelete() error {
 	return nil
 }

//New{{.Name.Pascal}}Model create new {{.Name.Pascal}}Model
func New{{.Name.Pascal}}Model() *{{.Name.Pascal}}Model{
	model:=&{{.Name.Pascal}}Model{
        //put your own model init code here
    }
    return model
}


type {{.Name.Pascal}}ModelResult struct {
	models []*{{.Name.Pascal}}Model
	fields []string
}

func (r *{{.Name.Pascal}}ModelResult) Fields() *querybuilder.Fields {
	model := New{{.Name.Pascal}}Model()
	r.models = append(r.models, model)
	return model.BuildFields(true, r.fields...)
}

func (r *{{.Name.Pascal}}ModelResult) OnFinish(err error) error {
	if err == sql.ErrNoRows {
		return nil
	}
	if err != nil {
		return err
	}
	model := r.models[len(r.models)-1]
	return model.AfterFind()
}



func (r *{{.Name.Pascal}}ModelResult) Model() *{{.Name.Pascal}}Model {
	if len(r.models) == 0 {
		return nil
	}
	return r.models[0]
}

func (r *{{.Name.Pascal}}ModelResult) Models() []*{{.Name.Pascal}}Model {
	return r.models
}

func New{{.Name.Pascal}}ModelResult(fields ...string) *{{.Name.Pascal}}ModelResult {
	if len(fields) == 0 {
		fields = Default{{.Name.Pascal}}FieldsSelect
	}
	return &{{.Name.Pascal}}ModelResult{
		models: []*{{.Name.Pascal}}Model{},
		fields: fields,
	}
}