#{{.Title}} config file
URL="http://www.example.com"
[Header]
"Content-Type"=["application/x-www-form-urlencoded"]
[Client]
"TimeoutInSecond"=120
"MaxIdleConns"=20
"IdleConnTimeoutInSecond"=120
"TLSHandshakeTimeoutInSecond"=30
#"Proxy"="socks5://127.0.0.1:2345"
"Proxy"=""

