package app

import (
	"github.com/herb-go/util"
	"github.com/herb-go/util/config"
	"github.com/herb-go/util/config/tomlconfig"
	"github.com/herb-go/util/config/translateconfig"
)

//Translate app translate config
var Translate = &translateconfig.Config{}

func init() {
	config.RegisterLoader(util.SystemFile("messages", "translate.toml"), func(configpath util.FileObject) {
		util.Must(tomlconfig.Load(configpath, Translate))
	})
}
