package app

import (
	"sync/atomic"

	"github.com/herb-go/uniqueid"
	"github.com/herb-go/util"
	"github.com/herb-go/util/config"
	"github.com/herb-go/util/config/tomlconfig"
)

//UniqueID unique id module config
var UniqueID *uniqueid.OptionConfigMap

var syncUniqueID atomic.Value

//StoreUniqueID atomically store unique id module config
func (a *appSync) StoreUniqueID(c *uniqueid.OptionConfigMap) {
	syncUniqueID.Store(c)
}

//LoadUniqueID atomically load unique id module config
func (a *appSync) LoadUniqueID() *uniqueid.OptionConfigMap {
	v := syncUniqueID.Load()
	if v == nil {
		return nil
	}
	return v.(*uniqueid.OptionConfigMap)
}

func init() {
	config.RegisterLoader(util.ConfigFile("/uniqueid.toml"), func(configpath source.Source) {
		UniqueID = uniqueid.NewOptionConfigMap()
		util.Must(tomlconfig.Load(configpath, UniqueID))
		Sync.StoreUniqueID(UniqueID)
	})
}
