#Protecter config file
# [[Protecters]]
# Name="appkey"
# AuthType="hired.TOMLAppKey"
# [Protecters.AuthConfig]
# Source="appdata/appkey.static.toml"
# [Protecters.Fields]
# "appid"="appidheader"
# "secret"="secretheader"
