package {{.Lower}}

import (
	"modules/app"
	"net/http"

	"github.com/herb-go/protecter"

	"github.com/herb-go/util"
)

//ModuleName module name
const ModuleName = "200{{.LowerWithParentDotSeparated}}"

//Protecter http procecter
var Protecter = protecter.New()

//Middleware protect middleware
var Middleware = protecter.ProtectMiddleware(Protecter)

//ProtectWith protect given handler with Protecter
func ProtectWith(h http.Handler) http.Handler {
	return protecter.ProtectWith(Protecter, h)
}

func init() {
	util.RegisterModule(ModuleName, func() {
		//Init registered initator which registered by RegisterInitiator
		//util.RegisterInitiator(ModuleName, "func", func(){})
		util.Must(app.Protecter.ApplyTo(Protecter))
		util.InitOrderByName(ModuleName)
	})
}
