#Protecter config file
# [[Protecters]]
# Name="appkey"
# AuthType="hired.TOMLAppKey"
# [Protecters.AuthConfig]
# # Static TOML appkey.
# # Example:https://github.com/herb-go/providers/blob/master/herb/statictoml/tomlappkey/example.toml 
# Source="appdata/appkey.static.toml"
# [Protecters.Fields]
# "appid"="appidheader"
# "secret"="secretheader"
