package  {{.Name.Lower}}


import (
	"github.com/herb-go/notification"
	"github.com/herb-go/notification/notificationrender"
	"github.com/herb-go/util"

	"modules/app"
)

//ModuleName module name
const ModuleName="200{{.Name.LowerWithParentDotSeparated}}"

//Center render center
var Center = notificationrender.NewAtomicRenderCenter()

//Render render notification with given name and data
func Render(name string, data map[string]string) (*notification.Notification, error) {
	renderer, err := Center.Get(name)
	if err != nil {
		return nil, err
	}
	return renderer.Render(data)
}



func init() {
	util.RegisterModule(ModuleName, func() {
		var err error
		c, err := app.{{.Name.Pascal}}.CreateRenderCenter()
		util.Must(err)
		Center.SetRenderCenter(c)
	})
}
