package actions

import (
	"net/http"

	"github.com/herb-go/herb/model/formdata"
	"github.com/herb-go/herb/render"
	"github.com/herb-go/util"

	"modules/member"
	"modules/member/login/forms"
)

//ActionLogin action that verify login form in json format.
func ActionLogin(w http.ResponseWriter, r *http.Request) {
	form := forms.NewLoginForm()
	if formdata.MustValidateJSONRequest(r, form) {
    	util.Must(member.Member.Login(w, r, form.Username))
	    render.MustJSON(w, user, 200)
	}
		formdata.MustRenderErrorsJSON(w, form)
}
