package forms

import (
	"modules/{{.Name.LowerWithParentPath}}"
	"net/http"
	"strings"

	"github.com/herb-go/herb/model/formdata"
)

//{{.FormID.Pascal}}FormFieldLabels form field labels map.
var {{.FormID.Pascal}}FormFieldLabels = map[string]string{
	"Username": "Username",
	"Password": "Password",
}

//{{.FormID.Pascal}}Form form struct for login
type {{.FormID.Pascal}}Form struct {
	formdata.Form
	Username string
	Password string
	uid      string
}

//{{.FormID.Pascal}}FormID form id of  login form
const {{.FormID.Pascal}}FormID = "form{{.Name.Lower}}.{{.FormID.Lower}}"

//New{{.FormID.Pascal}}Form create new login form
func New{{.FormID.Pascal}}Form() *{{.FormID.Pascal}}Form {
	form := &{{.FormID.Pascal}}Form{}
	form.SetModelID({{.FormID.Pascal}}FormID)
	form.SetFieldLabels({{.FormID.Pascal}}FormFieldLabels)
	return form
}

//UID return form uid
func (f *{{.FormID.Pascal}}Form) UID() string {
	return f.uid
}

//ValidateUserStatus validate user status
func (f *{{.FormID.Pascal}}Form) ValidateUserStatus() error {
	m := {{.Name.Lower}}.Member.NewMembers()
	s, err := m.LoadStatus(f.uid)
	if err != nil {
		return err
	}
	status := s.Get(f.uid)
	f.ValidateFieldf(status != nil, "Username", "帐号密码错误")
	if f.HasError() {
		return nil
	}
	f.ValidateFieldf(status.IsAvaliable(), "Username", "用户状态异常")
	return nil
}

//GetUserID get user id from username field
//Return user id and any error if raised
func (f *{{.FormID.Pascal}}Form) GetUserID() (string, error) {
	f.uid = f.Username
	return f.uid, nil
}

//Validate Validate form and return any error if raised.
func (f *{{.FormID.Pascal}}Form) Validate() error {
	f.Username = strings.ToLower(f.Username)
	f.Username = strings.TrimSpace(f.Username)
	f.ValidateFieldf(f.Username != "", "Username", "%[1]s必填")
	f.ValidateFieldf(f.Password != "", "Password", "%[1]s必填")
	uid, err := f.GetUserID()
	if err != nil {
		return err
	}
	f.ValidateFieldf(uid != "", "Username", "帐号密码错误")
	if !f.HasError() {
		err = f.ValidateUserStatus()
		if err != nil {
			return err
		}
	}	
	if !f.HasError() {
		result, err := {{.Name.Lower}}.Member.Password().VerifyPassword(uid, f.Password)
		if err != nil {
			return err
		}
		f.ValidateFieldf(result == true, "Username", "帐号密码错误")
	}
	return nil
}

//InitWithRequest init  login form  with http request.
func (f *{{.FormID.Pascal}}Form) InitWithRequest(r *http.Request) error {
	//Put your request form code here.
	//such as get current user id or ip address.
	return nil
}
