package oversears

import (
	"github.com/herb-go/util"
	"github.com/herb-go/worker"
)

//ModuleName module name
const ModuleName = "X1000-workers.oversears"

func init() {
	util.RegisterModule(ModuleName, func() {
		util.Must(worker.InitOverseers())
	})
}
