package {{.Lower}}

import (
	"modules/app"

	"github.com/herb-go/herbdata/kvdb"

	"github.com/herb-go/util"
)

//ModuleName module name
const ModuleName = "100{{.LowerWithParentDotSeparated}}"

//DB key-value database
var DB = kvdb.New()

//RequiredFeatures required features set
const RequiredFeatures = kvdb.FeaturesSetEmpty

//IncompatibleFeatures incompatible features set
const IncompatibleFeatures = kvdb.FeaturesSetEmpty

func init() {
	util.RegisterModule(ModuleName, func() {
        util.Must(app.{{.PascalWithParents}}.ApplyTo(DB))
		util.Must(DB.ShouldSupport(RequiredFeatures))
		util.Must(DB.ShouldNotSupport(IncompatibleFeatures))
		util.Must(DB.Start())
		util.OnQuitAndLogError(DB.Stop)
	})
}
