package members

// import "github.com/herb-go/herb/identifier"

//UNCOMMENT BELOW CODE TO USE USERSYSTEM LOGINREQUIRED MIDDLEWARE

// //LoginReqiured login required middleware.
// //Need websession module enabled.
// //You should Use WebSession.Middleware befoce LoginRequired.
// //For example app.Use(members.WebSession.Middleware(),members.LoginReqiured)
// var LoginReqiured = identifier.NewLoggedInFilter(WebSession, nil).ServeMiddleware
