# toml Directive
# [[Directives]]
# ID="hired.TOMlUser"
# [Directives.Config]
# Source ="appdata/users.static.toml"
# # Example toml
# Example = "system/exampledata/users.static.toml"
# ProfileFields =["field1","field2"]
# ServePassword =true
# ServeStatus   =true
# ServeAccounts =true
# ServeRoles    =true
# ServeTerm     =true
# ServeProfile  =true
# HashMode="md5"

# # sqlusersystem directive
# [[Directives]]
# ID="hired.SQLUserSystem"
# [Directives.Config]
# TableAccount="account"
# TablePassword="password"
# TableToken="token"
# TableUser="user"
# Prefix=""
# [Directives.Config.Database]
# "Driver"="hireddb"
# #Real databbase component id. you should run "herb-go scanworkers" first.
# "DataSource"="database.SQL"

# # herbsession Directive
# [[Directives]]
# ID="hired.HerbSession"
# [Directives.Config]
# AutoStart=false
# Timeout=3600
# MaxLifetime=72000
# LastActiveInterval=100
# Engine="aes"
# Installer="cookie"
# [Directives.Config.EngineConfig]
# Secret="SECRET"
# [Directives.Config.InstallerConfig]
# Name = "herb-go-Members"
# Path = "/"


# # herbsession Directive
# [[Directives]]
# ID="hired.HerbSession"
# [Directives.Config]
# AutoStart=false
# Timeout=3600
# MaxLifetime=72000
# LastActiveInterval=100
# Engine="keyvalue"
# Installer="cookie"
# [Directives.Config.EngineConfig]
# TokenSize=32
# DBDriver="freecache"
# [Directives.Config.EngineConfig.DBConfig]
# Size=50000000
# [Directives.Config.InstallerConfig]
# Name = "herb-go-Members"
# Path = "/"

# # memactives Directive
# [[Directives]]
# ID="hired.MemActives"
# [Directives.Config]
# [Directives.Config.Durations]
# "web"="60m"

# [[Directives]]
# ID="hired.RedisActives"
# [Directives.Config]
# Prefix="actives"
# Network="tcp"
# Address="127.0.0.1:6379"
# Password="password"
# Db=1
# ConnectTimeoutInSecond=60
# ReadTimeoutInSecond=60
# WriteTimeoutInSecon=60
# MaxIdle=100
# MaxAlive=200
# IdleTimeoutInSecond=60
# [Directives.Config.Durations]
# "web"="20s"

# # payload created time Directive
# [[Directives]]
# ID="hired.PayloadLogintime"

# # payload http ip Directive
# [[Directives]]
# ID="hired.PayloadHTTPIp"

# # usercache Directive
# # you should put usercache config in last directive in config file
# [[Directives]]
# ID="hired.UserCache"
# [Directives.Config]
# PrefixStatus="status"
# PrefixTerm="term"
# PrefixAccount="account"
# [Directives.Config.Cache.Preset]
# TTL=1800
# Namspace=""
# Prefix=""
# [Directives.Config.Cache.Storage]
# ID=""
# [Directives.Config.Cache.Storage.Engine]
# VersionTTL=3600
# [Directives.Config.Cache.Storage.Engine.Cache]
# Driver="freecache"
# [Directives.Config.Cache.Storage.Engine.Cache.Config]
# Size=50000000
# [Directives.Config.Cache.Storage.Engine.VersionStore]
# Driver="inmemory"
# [Directives.Config.Cache.Storage.Engine.VersionStore.Config]