# toml Directive
# [[Directives]]
# ID="hired.TOMlUser"
# [Directives.Config]
# Source ="appdata/users.static.toml"
# # Example toml
# Example = "system/exampledata/users.static.toml"
# ProfileFields =["field1","field2"]
# ServePassword =true
# ServeStatus   =true
# ServeAccounts =true
# ServeRoles    =true
# ServeTerm     =true
# ServeProfile  =true
# HashMode="md5"

# # herbsession Directive
# [[Directives]]
# ID="hired.HerbSession"
# [Directives.Config]
# DisableAutoStart=false
# Timeout=3600
# MaxLifetime=72000
# LastActiveInterval=100
# Engine="aes"
# Installer="cookie"
# [Directives.Config.EngineConfig]
# Secret="SECRET"
# [Directives.Config.InstallerConfig]
# Name = "herb-go-Members"
# Path = "/"


# # herbsession Directive
# [[Directives]]
# ID="hired.HerbSession"
# [Directives.Config]
# DisableAutoStart=false
# Timeout=3600
# MaxLifetime=72000
# LastActiveInterval=100
# Engine="keyvalue"
# Installer="cookie"
# [Directives.Config.EngineConfig]
# TokenSize=32
# DBDriver="freecache"
# [Directives.Config.EngineConfig.DBConfig]
# Size=50000000
# [Directives.Config.InstallerConfig]
# Name = "herb-go-Members"
# Path = "/"

# # memactives Directive
# [[Directives]]
# ID="hired.MemActives"
# [Directives.Config]
# [Directives.Config.Durations]
# "web"="60m"

# [[Directives]]
# ID="hired.RedisActives"
# [Directives.Config]
# Prefix="actives"
# Network="tcp"
# Address="127.0.0.1:6379"
# Password="password"
# Db=1
# ConnectTimeoutInSecond=60
# ReadTimeoutInSecond=60
# WriteTimeoutInSecon=60
# MaxIdle=100
# MaxAlive=200
# IdleTimeoutInSecond=60
# [Directives.Config.Durations]
# "web"="20s"

# # payload created time Directive
# [[Directives]]
# ID="hired.PayloadLogintime"

# # payload http ip Directive
# [[Directives]]
# ID="hired.PayloadHTTPIp"
