#{{.Title}} config file
[Clients]
"TimeoutInSecond"=120
"MaxIdleConns"=20
"IdleConnTimeoutInSecond"=120
"TLSHandshakeTimeoutInSecond"=30
#"ProxyURL"="socks5://127.0.0.1:2345"
"ProxyURL"=""
[Server]
Host="http://www.example.com"
[Server.Headers]
"Content-Type"=["application/x-www-form-urlencoded"]
