package {{.Name.Lower}}

import (
	"net/http"

	"github.com/herb-go/deprecated/member"
	"github.com/herb-go/util"

	"modules/app"
	{{if .InstallSession -}}
	sessionmodule "modules/{{.Name.LowerWithParentPath}}/session"		
	{{- end}}
)

//ModuleName module name
const ModuleName="800{{.Name.LowerWithParentDotSeparated}}"



//Session member session.
{{if .InstallSession -}}
var Session=sessionmodule.Session
{{- else -}}
var Session *session.Store
{{- end}}

//Member {{.Name.Lower}} member  module.
var Member= member.New()

//IdentifyRequest Identify user in http request.
//Return user id and any error raised.
//If user is not logged in,returned user id will by empty string.
func IdentifyRequest(r *http.Request) (uid string, err error) {
	return Member.IdentifyRequest(r)
}

func mustInitMember() {
	Member.SessionStore = Session
	util.Must(app.Members.ApplyTo(Member))
}

func init() {
	util.RegisterModule(ModuleName, func() {
		Member = member.New()
		Member.ContextName = member.ContextType("members")
		mustInitMember()
		//Init registered initator which registered by RegisterInitiator
		util.InitOrderByName(ModuleName)
	})
}