# delivery center config
[[Server]]
Delivery="logger"
Description="logger delivery server for debug"
Disabled=false
DeliveryType="logger"
[Server.DeliveryConfig]
Logger="debug"

[[Server]]
Delivery="null"
Description="null delivery server for debug"
Disabled=false
DeliveryType="null"

# [[Server]]
# Delivery="mock"
# Description="mock delivery server for debug"
# Disabled=false
# DeliveryType="mock"
# [Server.DeliveryConfig]
# Logger="debug"
# DelayMinDuration="3s"
# DelayMaxDuration="80s"
# FailPercent=10
# ErrorPercent=2

# [[Server]]
# Delivery="wechatwork"
# Description="wechat work delivery server"
# Disabled=false
# DeliveryType="wechatwork"
# [Server.DeliveryConfig]
# AgentID=0
# CorpID="corpid"
# Secret="secret"

# [[Server]]
# Delivery="wechattm"
# Description="wechat template message delivery server"
# Disabled=false
# DeliveryType="wechattm"
# [Server.DeliveryConfig]
# AppID="appid"
# AppSecret="secret"


# [[Server]]
# Delivery="tencentcloudsms"
# Description="tencent cloud sms delivery server"
# Disabled=false
# DeliveryType="tencentcloudsms"
# [Server.DeliveryConfig]
# SdkAppid="$SdkAppid"
# SecretID="$SecretID"
# SecretKey="$SecretKey"

# [[Server]]
# Delivery="aliyunsms"
# Description="aliyun cloud sms delivery server"
# Disabled=false
# DeliveryType="aliyunsms"
# [Server.DeliveryConfig]
# AccessKeyID="$AccessKeyID"
# AccessKeySecret="$AccessKeySecret"

# [[Server]]
# Delivery="tencentminiprogramum"
# Description="tencent miniprogram uniform message"
# Disabled=false
# DeliveryType="tencentminiprogramum"
# [Server.DeliveryConfig]
# AppID="$AppID"
# AppSecret="$AppSecret"

# [[Server]]
# Delivery="noitificationapi"
# Description="notificationapi"
# Disabled=false
# DeliveryType="noitificationapi"
# [Server.DeliveryConfig]
# RequiredContent=["title"]
# DeliveryType="api"
# [Server.DeliveryConfig.Server]
# URL="http://www.example.com"
# [Server.DeliveryConfig.Server.Header]
# "appid"=["appid"]
# "secret"=["secret"]