package translate

import (
	"modules/app"
	"path/filepath"

	"github.com/herb-go/util"
)

//Modulename module name used in initing and debuging.
const Modulename = "100translate"

func init() {
	util.RegisterModule(Modulename, func() {
		util.Must(app.Translate.Apply(filepath.Join(util.SystemPath, "messages")))
	})
}
