package {{.Lower}}

import (
	"modules/app"

	"github.com/herb-go/datamodules/herbcache"
	"github.com/herb-go/util"
)

//ModuleName module name
const ModuleName = "100{{.LowerWithParentDotSeparated}}"

//Storage cache storage
var Storage = herbcache.NewStorage()

//Cache cache component.
var Cache = herbcache.New().OverrideStorage(Storage)

func init() {
	util.RegisterModule(ModuleName, func() {
		util.Must(app.{{.PascalWithParents}}.ApplyTo(Storage))
		util.Must(Storage.Start())
		util.OnQuitAndLogError(Storage.Stop)
	})
}
