package app

import (
	"sync/atomic"

	"github.com/herb-go/datamodule-drivers/storageconfig"

	"github.com/herb-go/herbconfig/source"
	"github.com/herb-go/util"
	"github.com/herb-go/util/config"
	"github.com/herb-go/util/config/tomlconfig"
)

//{{.PascalWithParents}} cache stroage config
var {{.PascalWithParents}} = &storageconfig.Directive{}

var sync{{.PascalWithParents}} atomic.Value

//Store{{.PascalWithParents}} atomically store cache config
func (a *appSync) Store{{.PascalWithParents}}(c *storageconfig.Directive) {
	sync{{.PascalWithParents}}.Store(c)
}

//Load{{.PascalWithParents}} atomically load cache config
func (a *appSync) Load{{.PascalWithParents}}() *storageconfig.Directive {
	v := sync{{.PascalWithParents}}.Load()
	if v == nil {
		return nil
	}
	return v.(*storageconfig.Directive)
}


func init() {
	config.RegisterLoader(util.ConfigFile("/{{.LowerWithParentDotSeparated}}.toml"), func(configpath source.Source) {
		util.Must(tomlconfig.Load(configpath, {{.PascalWithParents}}))
		Sync.Store{{.PascalWithParents}}({{.PascalWithParents}})
	})
}
