[Preset]
TTL=1800
Namspace=""
Prefix=""
[Storage]
ID=""
[Storage.Engine]
VersionTTL=3600
[Storage.Engine.Cache]
Driver="freecache"
[Storage.Engine.Cache.Config]
Size=50000000
[Storage.Engine.VersionStore]
Driver="inmemory"
[Storage.Engine.VersionStore.Config]