package actions

//Actions for form {{.Name.Raw}} .
//You can  bind actions to  router by using below code :
//import   {{.Name.Lower}}actions "modules/{{.Name.LowerWithParentPath}}/actions"
//
//	Router.POST("/{{.Name.Lower}}").
//		Handle({{.Name.Lower}}actions.Action{{.Name.Pascal}})


import (
	"net/http"
	
	"github.com/herb-go/herb/ui/validator/formdata"
	"github.com/herb-go/herb/ui/render"
	"github.com/herb-go/herb/middleware/action"

{{- if .Confirmed.WithMember }}
    "modules/{{.Confirmed.UserModule.LowerWithParentPath}}"
{{- end }}
	"modules/{{.Name.LowerWithParentPath}}/forms"
)

//Action{{.Name.Pascal}} action that verify{{.Name.Raw}} form in json format.
var Action{{.Name.Pascal}} = action.New(func(w http.ResponseWriter, r *http.Request) {
	form := forms.New{{.Name.Pascal}}Form()
    {{- if .Confirmed.WithMember }}
    uid, err := {{.Confirmed.UserModule.Lower}}.IdentifyRequest(r)
	if err != nil {
		panic(err)
	}
    form.SetUID(uid)
    {{- end }}
	{{- if .Confirmed.Manual}}
	if formdata.MustValidate(r, form) {
	{{- else -}}
	if formdata.MustValidateJSONRequest(r, form) {
	{{- end }}
		err:=form.Exec()
		if err!=nil{
			panic(err)
		}
		render.MustJSON(w, form, 200)
	} else {
		formdata.MustRenderErrorsJSON(w, form)
	}
})
