package actions

//Actions for form  {{.Raw}} .
//You can  bind actions to  router by using below code :
//import   {{.Lower}}actions "modules/{{.LowerWithParentPath}}/actions"
//
//	Router.POST("/{{.Lower}}").
//		HandleFunc({{.Lower}}actions.Action{{.Pascal}})


import (
	"net/http"
	
	"github.com/herb-go/herb/ui/validator/formdata"
	"github.com/herb-go/herb/ui/render"

	"modules/{{.LowerWithParentPath}}/forms"
)

//Action{{.Pascal}} action that verify {{.Raw}} form in json format.
func Action{{.Pascal}}(w http.ResponseWriter, r *http.Request) {
	form := forms.New{{.Pascal}}Form()
	if formdata.MustValidateJSONRequest(r, form) {
		render.MustJSON(w, form, 200)
	} else {
		formdata.MustRenderErrorsJSON(w, form)
	}
}
