package  forms

import (
    "net/http"

	"github.com/herb-go/herb/ui/validator/formdata"
	"github.com/herb-go/herb/ui"
	"github.com/herb-go/util/form/commonform"

)


//{{.Pascal}}FormFieldLabels form field labels map.
var {{.Pascal}}FormFieldLabels = map[string]string{
	"Field1":  "Field 1",
	"Field2":    "Field 2",
}

//{{.Pascal}}Form form struct for {{.Raw}}
type {{.Pascal}}Form struct {
	formdata.Form
	Field1  *string
	Field2    *string
	language string
}

//{{.Pascal}}FormID form id of form {{.Raw}}
const {{.Pascal}}FormID = "form{{.LowerWithParentDotSeparated}}"

//New{{.Pascal}}Form create new {{.Raw}} form
func New{{.Pascal}}Form() *{{.Pascal}}Form{
	form:=&{{.Pascal}}Form{}
	form.SetModelID({{.Pascal}}FormID)
	return form
}
//Validate Validate form and return any error if raised.
func (f *{{.Pascal}}Form) Validate() error {
	f.ValidateFieldfString(f.Field1 != nil, "Field1", commonform.MsgRequired.Translated(f.language))
	f.ValidateFieldfString(f.Field2 != nil, "Field2", commonform.MsgRequired.Translated(f.language))
	if !f.HasError() {
	}
	return nil
}

//InitWithRequest init  {{.Raw}} form  with http request.
func (f *{{.Pascal}}Form) InitWithRequest(r *http.Request) error {
	//Put your request form code here.
	//such as get current user id or ip address.

	//Set form labels with translated messages
	f.SetFieldLabelsCollection(ui.GetMessages(f.language, "app").Collection(({{.Pascal}}FormFieldLabels)))
	return nil
}