package  {{.Name.Lower}}

import (
	"github.com/herb-go/notification/notificationdelivery/notificationqueue"
	"github.com/herb-go/uniqueid"
	"github.com/herb-go/util"

	"modules/app"
)

//ModuleName module name
const ModuleName="800{{.Name.LowerWithParentDotSeparated}}"

//Publisher notification publisher
var Publisher = notificationqueue.NewPublisher()

func initPublisher() {
	Publisher.IDGenerator = uniqueid.GenerateID
	Publisher.Recover = util.Recover

	//Publisher.DeliveryCenter = delivery.Center

	Publisher.OnDeliverTimeout = notificationqueue.NopExecutionHandler
	Publisher.OnRetryTooMany = notificationqueue.NopExecutionHandler
	Publisher.OnExecution = notificationqueue.NopExecutionHandler
	Publisher.OnReceipt = notificationqueue.NopReceiptHanlder
	Publisher.OnNotification = notificationqueue.NopNotificationHandler
}

//Sender publisher sender
var Sender = notification.SenderFunc(func(n *notification.Notification) error {
	_, _, err := Publisher.PublishNotification(n)
	return err
})

func init() {
	util.RegisterModule(ModuleName, func() {
		var err error
		Publisher.Reset()
		initPublisher()
		err = app.Notificationpublisher.ApplyTo(Publisher)
		util.Must(err)
		util.Must(Publisher.Start())
		util.OnQuitAndLogError(Publisher.Stop)
	})
}
