[[Directives]]
Directive="embeddeddraftbox"
[Directives.DirectiveConfig]
Limit=10
Driver="leveldb"
[Directives.DirectiveConfig.Config]
Database="appdata/draftbox"

[[Directives]]
Directive="embeddedqueue"
[Directives.DirectiveConfig]
Retry=["300s","1200s","3600s"]
[Directives.DirectiveConfig.Store]
Driver="leveldb"

[Directives.DirectiveConfig.Store.Config]
Database="appdata/queue"
[Directives.DirectiveConfig.Queue]
TimeoutDuration="60s"
IntervalDuration="300s"
ExecuteCount=10